
.siteHeader{
  min-height: 75px;
  background-color: rgba(255, 255, 255, 0.75);
}
.siteHeaderSpacer{
  /* width: calc(100% - 725px); */
  width: calc(100% - 420px);
  min-height: 75px;
}
.centerTextAlign{
  text-align: center;
}
.siteBody{
  height: calc(100% - 110px);
  min-height: calc(100% - 110px);
  width:100%;
  overflow-x: scroll;
}
@media screen and (max-width: 407px) {
  .siteHeader {
    min-height: 150px;
  }
  .siteBody{
    height: calc(100% - 185px);
    min-height: calc(100% - 185px);
  }
}




.siteFooter{
  height: 35px;
  width:100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.SiteHeaderName{
  font-family: sans-serif, 'Montserrat';
  margin-top: 30px;
  color: black;
  font-size: 1.5em;
  font-weight: 800;
}
.SiteHeaderName:hover{
  cursor: default;
}
.titleArea{
  min-width: 285px;
}

.floatLeft{
  float: left;
}
.floatRight{
  float: right;
}
.logoImg{
  height: 75px;
}
.linkArea{
  /* min-width:350px; */
  min-width: 95px;
}
.linkColumn{
  width:95px;
}
.loginArea{
  width:155px;
}
.inLineBlock{
  display: inline-block;
}
.headerButton:hover{
  background-color: rgba(255, 255, 255, 1);
}
.loginButton{
  all: unset;
}
.headerButton{
  margin: 5px;
  width: 90px;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  font-family: sans-serif, 'Montserrat';
  font-weight: bold;
  padding-top: 5px;
  text-align: center;
}
.footerButton{
  width: 80px;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  font-family: sans-serif, 'Montserrat';
  font-weight: bold;
  padding-top: 5px;
  text-align: center;
  margin: auto;
  margin-top: 5px;
}
.footerButtonSection{
  width:25%;
}
.loginInput{
  margin: 2px;
  width: 150px;
}
.footerSpan{
  font-family: sans-serif, 'Montserrat';
  color: black;
  font-weight: bold;
  font-size: 1em;
  margin-left: 5px;
  padding-top: 12px;
}
.footerSpacer{
  margin-left: 5px;
}
