<div class="centerTextAlign fullWidth">
  <div class="contactFormSection displayInfoSide">
    <form (ngSubmit)="submitOrder(orderForm)" #orderForm="ngForm">
      <div class="formInput">
        <label class="formTitle" for="Name">Name: </label>
        <input class="formField" type="text" id="Name" ngModel name="Name" required>
      </div>
      <div class="formInput">
        <label class="formTitle" for="Email">Email: </label>
        <input class="formField" type="text" id="Email" ngModel name="Email" required email>
      </div>
      <div class="formInput">
        <label class="formTitle" for="PhoneNumber">Phone Number: </label>
        <input class="formField" type="text" id="PhoneNumber" ngModel name="PhoneNumber" required>
      </div>
      <div class="formInput">
        <label class="formTitle" for="AddressStreet">Street Address: </label>
        <input class="formField" type="text" id="AddressStreet" ngModel name="AddressStreet">
      </div>
      <div class="formInput">
        <label class="formTitle" for="AddressCity">City: </label>
        <input class="formField" type="text" id="AddressCity" ngModel name="AddressCity">
      </div>
      <div class="formInput">
        <label class="formTitle" for="AddressZip">Zip Code: </label>
        <input class="formField" type="text" id="AddressZip" ngModel name="AddressZip">
      </div>
      <div class="formInput">
        <label class="descriptionTitle" for="OrderDescription">Description Of Work Requested: </label>
        <textarea class="descriptionField" type="text" id="OrderDescription" ngModel name="OrderDescription" required>
        </textarea>
      </div>
      <div class="centerTextAlign">
        <button class="headerButton inLineBlock" type="submit" [disabled]="!orderForm.valid"> Place Request </button>
        <div *ngIf="formSubmitted && formSuccess" class="inLineBlock successDisplay">Thank You, Someone Will Contact You</div>
        <div *ngIf="formSubmitted && !formSuccess" class="inLineBlock failureDisplay">There Was An Error In Submitting</div>
      </div>
    </form>
  </div>
</div>

