<div class="contentSection">
  <div class="displayColumn textDisplayColumn">
    <h1 class="displayTextHeader">Dedicated to Professional Home Repairs</h1>
    <h2 class="displayText">
      Located in Denham Springs, we are dedicated to providing the best,
      no nonsense work specializing in tile, flooring, and Home Restoration.
      when you need a contractor to get work done on-time and done right the first time
      B2K is the one to call.
    </h2>
  </div>
  <div class="imageDisplayColumn">
    <div class="photoSection">
      <img src="../../../assets/displayImages/Tile/bathTub.jpg" class="displayPhoto">
      <img src="../../../assets/displayImages/Tile/Flooring.jpg" class="displayPhoto">
    </div>
    <div class="photoSection">
      <img src="../../../assets/displayImages/Tile/Shower.jpg" class="displayPhoto">
      <img src="../../../assets/displayImages/Wood/HardWoodFloor.jpg" class="displayPhoto">
    </div>
  </div>
</div>
